include etc/*
include etc/ssl/certs/*
include etc/ssl/private/*
include etc/apache2/sites-available/*
include etc/apache2/conf.d/*
include /var/palette/data/photos/*
recursive-include palette *
exclude setup.cfg
