*.pyc
*.pyo
*.egg-info
*.swp
*.swo
*.debian.tar.gz
*.dsc
*.orig.tar.gz
*.changes
*.log
*substvars*
*debhelper*
tags
TAGS
changelog
dist
build
.idea/
dpkg/keys/random_seed
dpkg/apt/db
dpkg/apt/dists

app/css/*.min.css
app/bower_components


app/js/vendor/

# These files are compiled from CoffeeScript
app/js/alerts.*
app/js/AlertSetting.*
app/js/ComboButton.*
app/js/ComboWithCaption.*
app/js/PeriodCombo.*
app/js/PercentageCombo.*
app/js/ProcessNameCombo.*
app/js/MemoryCombo*
app/js/ProcessSetting*

