/* Everything else - avoid adding to this file. */
h1 {
    font-family: @font-family-light;
    font-size: @font-size-h1;
    margin: 32px 0 0px 0;
    color: @text-title-color;
}
p {
    font-family: @font-family-light;
    line-height: 1.4em;
    font-size: 16px;
}
textarea {
    width: 100%;
    resize: none;
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
}
a, a:link, a:active, a:visited, a:hover {
    color: @light-blue;
}
a img {
    border: 0 !important;
    outline: 0;
}
.row {
    max-width: none !important;
    height: 100%;
}
.hidden {
    visibility: hidden;
}
.visible {
    display: block !important;
}

/* FIXME: get rid of classes named after style
    -> replace with err, warn, ok - or similar.
*/
.red {
    color: #ef5557;
}
.yellow {
    color: #dc994c;
}
.green {
    color: #76e259;
}

input[type="text"].invalid, input[type="text"].invalid:focus, input[type="password"].invalid, input[type="password"].invalid:focus {
    border: 1px solid red;
}
.btn-group {
    max-width: 320px;
}
.btn-group button {
    width: 100%;
    text-align: left;
    color: #697078;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 0;
}
.btn-group button .caret {
    position: absolute;
    right: 11px;
    top: 50%;
    margin-top: -2px;
    border-top: 5px solid #818284;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.main-container {
    margin: 63px 0 0 0;
    overflow-y: auto;
    height: auto;
}
/* FIXME: redundant with bootstrap */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-small {
    font-size: 11px;
    font-weight: 500;
}
.large {
    font-size: 2em;
}
p.large {
    margin: 0;
}
.margin-top {
    margin-top: 12px !important;
}

/* FIXME remove a.button */
a.button {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* FIXME: merge with active/inactive */
.disabled {
    top: 0 !important;
    color: #aaa !important;
    background: #ddd !important;
    text-shadow: 1px 1px 0 #fff;
    cursor: not-allowed;
}
.disabled:focus {
    border: none;
    outline: 0;
}
label {
    margin: 25px 0 8px 0;
    text-align: left;
    display: block;
    color: #5f6670;
    font-size: 16px;
    font-weight: 300;
}
input[type="text"], input[type="password"], input[type="email"] {
    margin: 5px 0 15px 0;
    color: black;
}
input[type="text"], input[type="password"], input[type="email"], select {
    width: 100%;
    border: 1px solid #ebebeb;
    outline: 0;
    border-radius: 0;
    box-shadow: 0 0;
    height: 34px;
    padding: 0 8px;
    box-sizing:border-box;
    font-size: 14px;
    max-width: 320px;
}

textarea {
    max-width: 320px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    border: 1px solid #e1e1e1;
    outline: 0;
    box-shadow: 0 0;
}

label.checkbox-label {
    font-weight: 300;
    text-transform: none;
    display: inline-block;
    margin: 4px 15px 0 0;
}
label.error {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0px 0 15px 0;
    color: #E52C22;
}
p.error {
    width: 100%;
    font-size: 14px;
    color: @red;
}
ul {
    padding: 0;
}
.top-zone {
    float: left;
    width: 100%;
}

/* divs containing a message saying that there are no items to display.
 * e.g. workbooks, datasources, users, machines, etc. */
.empty-message {
    margin-top: 23px;

    h2 {
        margin-top: 0;
    }
}

/* main logo - login page, etc. */
.logo {
    background-image: url(@logo-main);
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 139.22px;
    margin-bottom: 50px;
}

/* Individual Elements */
#type-dropdown, #status-dropdown {
    min-width: 175px;
}
#sort-dropdown, #show-dropdown {
    min-width: 140px;
}
label + input[type="text"], label + input[type="password"] {
    margin-top: 0;
    margin-bottom: 5px;
}
.fake-text-input {
    line-height: 35px;
    margin: 0 0 5px 0;
}
