/* Everything else - avoid adding to this file. */

/* FIXME: remove, only still used for login. */
a img {
    border: 0 !important;
    outline: 0;
}
.row {
    max-width: none !important;
    height: 100%;
}
.hidden {
    visibility: hidden;
}
.visible {
    display: block !important;
}

/* FIXME: get rid of classes named after style
    -> replace with err, warn, ok - or similar.
*/
.red {
    color: #ef5557;
}
.yellow {
    color: #dc994c;
}
.green {
    color: #76e259;
}
.main-container {
    margin: 63px 0 0 0;
    overflow-y: auto;
    height: auto;
}
/* FIXME: redundant with bootstrap */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-small {
    font-size: 11px;
    font-weight: 500;
}
.large {
    font-size: 2em;
}
p.large {
    margin: 0;
}
.margin-top {
    margin-top: 12px !important;
}

/* FIXME remove a.button */
a.button {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* FIXME: merge with active/inactive */
.disabled {
    top: 0 !important;
    color: #aaa !important;
    background: #ddd !important;
    text-shadow: 1px 1px 0 #fff;
    cursor: not-allowed;
}
.disabled:focus {
    border: none;
    outline: 0;
}

label.checkbox-label {
    font-weight: 300;
    text-transform: none;
    display: inline-block;
    margin: 4px 15px 0 0;
}

/* deprecated use bootstrap has-error
label.error {
    width: 100%;
    font-size: 14px;
    text-align: center;
    margin: 0px 0 15px 0;
    color: #E52C22;
}
*/
ul {
    padding: 0;
}

/* divs containing a message saying that there are no items to display.
 * e.g. workbooks, datasources, users, machines, etc. */
.empty-message {
    margin-top: 23px;

    h2 {
        margin-top: 0;
    }
}

/* main logo - login page, etc. */
.logo {
    background-image: url(@logo-main);
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 139.22px;
    margin-bottom: 50px;
}

