/* Base definitions for all buttons and button-like widgets. */

// Base buttons
.btn, .p-btn {
    outline: 0;
    border: 0;
    border-radius: 0;
}
.btn {
    width: 125px;
}
.p-btn {
    width: 100%;
    max-width: 320px;
    text-transform: uppercase;
    padding: 9px 0;
}
.btn:hover, .btn:focus, .btn:active, .p-btn:hover {
    color: @btn-default-color;
    background-color: @btn-hover-bg;
}

// Alternate buttons
.btn-primary {
    padding: 9px 0;
    text-transform: uppercase;
}

// Currently btn-default is only using in conjunction with dropdown-toggle.

