/* Configuration pages */

.configuration h2 {
    font-family: "Proxima Nova regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #474D54;
    font-size: 19px;
    margin-top: 30px;
    text-transform: none;
}
.configuration h3 {
    font-family: "Proxima Nova regular","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #50555C;
    font-size: 18px;
    margin-top: 29px;
}
.configuration label:not(.onoffswitch-label) {
    margin: 15px 50px 3px 0;
}

// buttons (mostly dropdowns)
.configuration .btn-group {
    width: 100%;
}
.configuration .btn-group.percentage {
    width: 130px;
}
.configuration .btn-group.count, .configuration .btn-group.ampm  {
    width: 60px;
}
.configuration .top-zone {
    margin-bottom: 16px;
}
