/* lower-right-hand dynamic content pane */

.dynamic-content {
    position: fixed;
    height: inherit;
    top: @header-height;
    right: 0;
    left: 250px;
    overflow: auto;
    padding-bottom: @header-height;
}
.dynamic-content > div.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding: 0 15px 72px 19px;
}
.dynamic-content.with-secondary-sidebar {
    left: 550px;

    .filter-dropdowns {
        @media screen and (max-width: @screen-sm) {
            display: none;
        }
    }
}
.dynamic-content.servers-visible {
    left: 550px;

    .filter-dropdowns {
        @media screen and (max-width: @screen-sm) {
            display: none;
        }
    }
}

.dynamic-content.with-secondary-sidebar.servers-visible {
    left: 850px;

    .filter-dropdowns {
	@media screen and (max-width: @screen-md) {
	    display: none;
	}
    }
}
.dynamic-content .key, .dynamic-content .label {
    display: inline;
    font-family: @font-family-bold;
    font-size: inherit;
    color: @text-color;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding: 0;
    font-weight: 400;
}
.dynamic-content .key {
    padding: .25em .25em .25em 1em;
}
.dynamic-content .label {
    padding: 0 .25em 0 0;
}
// letter bar e.g. users page
.dynamic-content .letters a {
    color: @text-color;
    cursor: pointer;
}

.letters {
    clear: both;
}
