/* lower-right-hand dynamic content pane */
.content {
    position: absolute;
    left: @sidebar-width;
    right: 0;
    top: 0;
    bottom: 0;

    /* for sliding out the My Machines sidebar */
    .transition(all @transition-time ease-out); 

    /* this is modified in JS when a trial is active. */
    margin-bottom: @navbar-height;

    & > div {
        padding: 0 15px 100px 15px; /* 100px is enough space for the header */
        height: 100%;
        overflow-y: auto;
    }

    &.with-secondary-sidebar {
        left: (@sidebar-width + @sidebar-width-secondary);
    }

    .filter-dropdowns {
        @media screen and (max-width: @screen-sm) {
            display: none;
        }
    }
}

/* key is only in yml, label is used in items... */
.content .key, .content .label {
    display: inline;
    font-family: @font-family-bold;
    font-size: inherit;
    color: @text-color;
    text-align: left;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding: 0;
    font-weight: 400;
}
.content .key {
    padding: .25em .25em .25em 1em;
}
.content .label {
    padding: 0 .25em 0 0;
}

// letter bar e.g. users page
.content .letters {
    clear: both;

    a {
        color: @text-color;
        cursor: pointer;
    }
}
