/* Container definitions and overrides of the standard Bootstrap classes. */

.container {
    overflow-x: hidden;
}

.container-fluid {
    height: 100%;
}

.container-all {
    height: inherit;
    overflow-y: auto;
}


.container-webapp {
    position: relative; /* non-static so that the contents can use absolute */
    width: 100%;
    height: 100%;
    padding: 0;
}

.container-vcenter {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
