
@heading-color: #474d54;

.initial {
    margin-bottom: 50px;
}

.initial h1 {
    margin-bottom: 23px;
    color: @heading-color;
}

#licensing-status h1 {
    margin: 90px 0 12px 0;
    font-size: 60px;
    line-height: 50px;
}

#licensing-error h2 {
    margin: 90px 0 12px 0;
    font-size: 33px;
    color: @heading-color;
}

#licensing-error h3 {
    margin-top: 30px;
    font-size: 19px;
}

#licensing-error h2 span.fa-stack {
    height: 1em;
    width: 1em;
    line-height: 1em;
    font-size: 24px;
}

#licensing-error p {
    margin: 0;
}

#licensing-error p + p, #licensing-status p + p {
    margin-top: 30px;
}

#licensing-error p + div {
    margin-top: 24px;
}

.initial #connect {
    .btn;
    .btn-primary;
    height: 35px;
}

.initial #save {
    background-color: @blue;
    width: inherit;
    padding-left: 52px;
    padding-right: 52px;
    outline: none;
}

/* FIXME: same as password, combine rule? */
.initial input[type="text"], .initial textarea {
    margin-top: 0;
    margin-bottom: 5px;
}

/* FIXME: get rid of this rule - all text inputs should be 35px; */
#proxy-https {
    height: 35px;
}

/* http://codepen.io/vcmg/pen/JdKeVG */
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: @light-blue;
  display: inline-block;
  margin: 0 auto;
  -webkit-animation: jump 1.5s linear infinite;
}

@-webkit-keyframes jump {
  0%, 100% {transform: translateY(0px);}
  20% {transform: translateY(-10px);}
  40% {transform: translateY(0px);}
}

.dot:nth-of-type(2) {
  -webkit-animation-delay: 0.2s;
}

.dot:nth-of-type(3) {
  -webkit-animation-delay: 0.4s;
}

/* end dots */

.initial .error-page p {
    color: #ef5557;
    margin: 20px 0;
    text-align: center;
}
.initial .version {
    font-size: 10px;
    width: 100%;
    text-align: right;
}
#license-key {
    width: 450px;
    max-width: none;
}

