/* login page style */
.login-box {
    background-color: white;
    margin: 0 auto;
    vertical-align: middle;
}
login-box input[type="text"] {
    margin-bottom: 25px;
}
.login-box form {
    max-width: 320px;
    display: block;
    margin: 0 auto
}
.login-box img {
    display: block;
    max-width: 320px;
    margin: 0 auto 39px auto;
}
.login-box p {
    text-align: center;
    margin-top: 25px;
}
.login-box p.error {
    text-align: center;
    margin: 10px 0 15px 0;
}
