.main-side-bar {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 250px;
    background-color: @darker-gray;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

// allow the sidebar to be scrollable but don't show the scrollbar
.main-side-bar::-webkit-scrollbar {
    width: 0 !important;
    position: fixed;
//    z-index: 11000;
}

/* status box */
.main-side-bar .status {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    height: 120px;
    color: @text-color;
    background-color: white;
    border-right: 1px solid @border-color;
}

// the main icon
.main-side-bar .status > i {
    position: absolute;
    display: block;
    top: 34px;
    font-size: 30px;
    left: 213px;
}
.main-side-bar .status span.fa-stack {
    position: absolute;
    font-size: 80px;
    line-height: 64px;
    height: 64px;
    width: 64px;
    top: 15px;
    right: 20px;
    color: white;
    left: 135px;
}
.main-side-bar .status h1 {
    position: absolute;
    top: 32px;
    left: 15px;
    font-size: 28px;
    line-height: 30px;
    margin: 0;
    font-weight: 300;
    color: #697078;
}
.main-side-bar .status h3 {
    font-family: @font-family-base;
    position: absolute;
    top: 94px;
    left: 16px;
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 220px;
    overflow: visible;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    text-align: left;
}

/* open/close icon in the status panel */
.main-side-bar .status i.expand {
    color: @text-color;
    &:before {
        content: @fa-var-angle-right;
    }

}
.servers-visible .main-side-bar .status i.expand {
    &:before {
        content: @fa-var-angle-left;
    }
}

/* navigation items */
.main-side-bar ul.actions li.active a, .main-side-bar ul.actions li a:hover {
    background-color: #5e646b;
    box-shadow:0 -1px rgba(0,0,0,0.1);
}

.main-side-bar ul.actions ul {
    padding: 0;
    display: none;
}
.main-side-bar ul.actions .open ul {
    display: block;
}

.main-side-bar > ul.actions {
    margin: 0;
    padding:0;
    list-style-type: none;
}
.main-side-bar > ul.actions li {
    border-top: 1px solid #777a7e;
}
.main-side-bar > ul.actions li:last-child {
    border-bottom: 1px solid #777a7e;
}
.main-side-bar > ul.actions li i {
    color: white;
    font-size: 24px;
    line-height: 55px;
    margin: 0 7px 0 15px;
    vertical-align: middle;
}
.main-side-bar > ul.actions li a {
    font-family: @font-family-bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 55px;
    width: 100%;
    display: block;
    font-size: 16px;
    letter-spacing: .6px;
    color: white;
    vertical-align: top;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.main-side-bar > ul.actions li a:hover,
.main-side-bar > ul.actions li a:focus,
.main-side-bar > ul.actions li a:active,
.main-side-bar > ul.actions li a:visited
{
    text-decoration: none;
}

/* carats */
.main-side-bar ul.actions li.active a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent white transparent transparent;
    display: block;
    .transition(all @transition-time step-end);
}

.main-side-bar ul.actions li.has-side-bar a:after {
    border-color: transparent @darkest-gray transparent transparent;
}
.servers-visible .main-side-bar ul.actions li.active a:after {
    border-color: transparent @darkest-gray transparent transparent;
    .transition(all @transition-time step-start);
}

/* For IE11 */
.main-side-bar ul.actions li.category ul.visible li {
    display: block;
}
