.navbar {
    border-bottom: 1px solid @gray;
}

.navbar-brand {
    background-image: url(@logo-header);
    background-size: contain;
    background-repeat: no-repeat;
    width: 242px;
    height: 60px;
}
