/* Style for the page numbering widget. */
@paging-font-size:       22px;
@paging-line-height:     22px;

.paging {
    display: none;
    float: right;
    height: @paging-line-height;
    line-height: @paging-line-height;
    vertical-align: middle;
    font-family: @font-family-light;

    i {
	font-size: @paging-font-size;
        width: inherit;
    }
}

.paging > span, .paging > span a {
    line-height: @paging-line-height;
    vertical-align: middle;
}

.paging > span {
    display: inline-block;
    padding-right: 5px;
}

.paging a, .paging a:link, .paging a:active, .paging a:visited, .paging a:hover {
    color: @text-color;
}
