/* rows of sliders */
.slider-group {
    height: 26px;
    margin-bottom: 25px;
}

/* containing div for one slider = text + onoffswitch */
.slider-group > div {
    height: 26px;
    margin-right: 25px;
    display: inline;
}

/* the descriptive test for an onoffswitch */
.slider-group > div > div {
    font-family: @font-family-base;
    font-size: 17px;
    line-height: 26px;
    vertical-align: top;
    margin-right: 5px;
    display: inline;
}
.slider-group > span > span {
    margin-left: 5px;
}
