h1 {
    font-family: @font-family-light;
    margin: 37px 0 0px 0;
    color: @text-title-color;
}

h2 {
    color: @text-title-color;
    margin-top: 0; /* section headers, spacing is from hr tag. */
    text-transform: uppercase;
}                                                                                  
h3 {
    color: @text-title-color;
    margin-top: 25px;
}

p {
    font-family: @font-family-light;
    font-size: @font-size-p;
}
