// logo
@logo-main:                     "/images/palette_logo.png";
@logo-header:                   "/images/palette_logo_600dpi-2.png";

// components
@border-radius-base:     0;
@border-radius-large:    0;
@border-radius-small:    0;

@padding-base-horizontal:  10px;

@caret-width-base:       5px;

// colors
@blue:                   #5AC0DC;
@orange:                 #FC7E6F;
@red:                    #EF5557;
@yellow:                 #DC994C;
@green:                  #76E259;
@light-blue:             #00C2E8;
@gray:                   #8D96A3;

@state-danger-text:      @red;
@state-danger-border:    @red;

//@text-color:             #8D96A3;
@text-color:             #5F6670;
@text-title-color:       #404040;

@label-color:            #474d54;  // non-standard

// fonts
@font-family-base:       "Proxima Nova regular","Helvetica Neue",Helvetica,Arial,sans-serif;
@font-family-light:      "Proxima Nova light","Helvetica Neue",Helvetica,Arial,sans-serif;
@font-family-bold:       "Proxima Nova semibold","Helvetica Neue",Helvetica,Arial,sans-serif;

@font-size-h1:            33px;
@font-size-h2:            16px;
@font-size-h3:            16px;
@font-size-h4:            16px;
@font-size-h5:            16px;
@font-size-h6:            16px;

// links
@link-hover-bg:           #f0f1f1;

// buttons
@btn-font-size:           15px;
@btn-font-weight:         500;
@btn-default-color:       #fff;
@btn-dd-bg:               #fff;     // dropdowns background non-standard

// forms
@input-color:             @text-color;
@input-border:            #e6e6e6;
@input-border-focus:      #d6d6d6;

// nav
@navbar-default-bg:       @body-bg;

// header (mainNav)
@header-line-height:          62px;
@header-bottom-border-width:  1px;
@header-height:               (@header-line-height + @header-bottom-border-width);

// sidebar
// @sidebar-width:

// top-zone
@top-zone-margin-bottom:  14px;  // FIXME: merge into the top-zone class.

