body {
	background: #ececec;
}
p {
	color: #3b3b3b;
}
nav.top-bar {
	background: #27292D;
	box-shadow: 0 6px #8D96A3;
}
ul.title-area > li > h1 > a {
	color: #fff;
	font-weight: 100;
}
nav img {
	color: #111111;
	margin-top: -5px;
	margin-right: 5px;
}
.dashboard {
	font-family: helvetica;
	margin-top: 3em;
}
.dashboard section {
	box-shadow: inset 0 22.5em 0 -20em #8d96a3, 0 0.6em rgba(0, 0, 0, 0.04), 0 0.2em rgba(0, 0, 0, 0.04);
	background: #fff;
	border-radius: 0.6em;
	padding: 1.2em;
	margin-bottom: 2em;
	min-height: 16em;
}
.dashboard section .panel-title {
	font-weight: 100;
	color: white;
	text-align: center;
	margin-top: -.4em;
	margin-bottom: 30px;
}
.dashboard section p {
	font-size: 0.8em;
}

.arrow-down {
	border-top: 7px solid #CCC;
}

.tile-advanced a {
	margin-right: 10px;
	color: #CCC;
}

.title {
	margin-bottom: 10px;
}