.wrapper {
	padding: 3em 0 0;
	font-size: 0.9em;
	font: 300 'Lato',sans-serif;
}

#mainNav {
	background: #000;
	box-shadow: 0 0 4px #000;
}
#mainNav .container {
	width: 990px;
	margin: 0 auto;
}
#mainNav img {
	padding: 15px 0 0;
}
#mainNav ul {
	padding: 15px 10px 0 0;
	width: auto;
	float: right;
}
#mainNav li {
	position: relative;
	width: auto;
	height: auto;
	padding: 5px 0 0 60px;
	font-size: 1.2em;
	font-weight: 400;
	text-indent: 0;
	float: left;
}
#mainNav li a {
	width: auto;
	height: auto;
	color: #fff;
	text-decoration: none;
	display: block;
	background: none !important;
}
.arrow-down {
	position: relative;
	top: 1em;
	left: -7px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #666;
}
#mainNav .arrow-down {
	left: 7px;
	border-top: 7px solid #fff;
}

h1 {
	display: none;
}
h1.visible {
	display: block;
}
h2 {
	font: 300 2.3em 'Lato',sans-serif;
}
h2.bottomRow {
	margin-top: 25px
}
h3 {
	font-weight: 400;
}

.green-light, .yellow-light, .orange-light, .red-light {
	width: 80px;
	height: 80px;
	margin: 2em auto 3em;
	background: url(/app/module/palette/images/status-green-light.png) no-repeat 50% 50%;
}
.yellow-light {
	background: url(/app/module/palette/images/status-yellow-light.png) no-repeat 50% 50%;
}
.orange-light {
	background: url(/app/module/palette/images/status-orange-light.png) no-repeat 50% 50%;
}
.red-light {
	background: url(/app/module/palette/images/status-red-light.png) no-repeat 50% 50%;
}

.tile {
	position: relative;
	width: 41%;
	margin: 0 2% 2% 0;
	padding: 2% 3%;
	min-height: 19em;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	clear: left;
	float: left;
}
.tile:nth-child(2n + 1) {
	clear: right;
	float: right;
}
.tile h2 {
	padding: 0.3em 0;
}
.tile-advanced {
	position: absolute;
	top: 3px;
	right: 10px;
	color: #666;
}
.tile-advanced a {
	color: #666;
	text-decoration: none;
}
.arrow-down {
	position: relative;
	top: 1em;
	left: -7px;
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #666;
}

.large {
	font-size: 2em;
}

.spacer {
	margin: 0 60px 0 0;
}
.button, input[type="submit"].login {
	position: relative;
	width: 100px;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
	font-size: 1.3em;
	background: #02acf8;
	border: 1px solid #02acf8;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
}
input[type="submit"].login {
	height: 35px;
}
.big {
	width: 150px;
}
a.button {
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover, input[type="submit"].login:hover {
	color: #02acf8;
	background: #fff;
	border-color: #51a7f9;
}
input[type="submit"].login:active {
	top: 1px;
}
.disabled {
	top: 0 !important;
	color: #aaa !important;
	background: #ddd !important;
	border-color: #ccc !important;
	text-shadow: 1px 1px 0 #fff;
	cursor: not-allowed;
}

.padtop {
	padding: 1.5em 0 0;
}
.padbottom {
	padding-bottom: 1em;
}
.doublepadtop {
	padding-top: 4em;
}

.box {
	width: 25%;
	border-radius: 3px;
}

/* LINES 510-517 */

/* TESTING */
.dijitDialog {
     background: white;
     padding: 2em;
}

.dijitDialogCloseIcon {
     float: right;
     outline-style: none;
}

.dijitDialogUnderlay {
     position: fixed;
     left: 0;
     top: 0;
     background-color: rgba(0,0,0,0.5);
}

/* DIALOG */
table.dialog {
     border: 0;
     padding: .5em 0 2em 0;
     text-align: center;
}

table.dialog td {
    padding: 0 1em;
}

table.dialog td.creation-time {
    width: 10em;
}

#status, #backup, #manage {
    clear: both;
}

#status td {
     padding: 0 5px 0 5px;
}

#status .running {
     font-weight: bold;
     color: green;
}

#status .orange {
     font-weight: bold;
     color: orange;
}

#status .stopped {
     font-weight: bold;
     color: red;
}

#status p {
     padding: 1em 0 2em 0;
     text-align: center;
}
