html {
	overflow-y:scroll;
	overflow-x:hidden;
}
html, body {
	min-width: 0 !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 300 !important;
	height: 100%;
	min-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
}
p {
	font-weight: 300 !important;
}
.row {
	max-width: none !important;
}
#mainNav {
	background: #333;
	position: relative;
	height: 67px;
	border-bottom: 7px solid #8D96A3;
}
.container {
	width: 80%;
	margin: 0 auto;
	display: block;
	position: relative;
	max-width: 1200px;
}
#mainNav img.site-id {
	position: absolute;
	left: 15px;
	top: 0;
	max-height: 60px;
	padding: 17px 0 10px 0;
}

nav img.site-id {
	color: #111111;
	margin-top: -5px;
	margin-right: 5px;
}

#mainNav .arrow-down {
	left: 7px;
	border-top: 7px solid #fff;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-small {
	font-size: 11px;
	font-weight: 500;
}

.green-light, .yellow-light, .orange-light, .red-light {
	width: 130px;
	height: 128px;
	margin: 24px auto 10px;
	background: url(/app/module/palette/images/status-green-light.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.yellow-light {
	background: url(/app/module/palette/images/status-yellow-light.png);
	background-size: 100%;
}
.orange-light {
	background: url(/app/module/palette/images/status-orange-light.png);
	background-size: 100%;
}
.red-light {
	background: url(/app/module/palette/images/status-red-light.png);
	background-size: 100%;
}

.tile {
	position: relative;
	width: 41%;
	margin: 0 2% 2% 0;
	padding: 2% 3%;
	min-height: 19em;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 3px;
	clear: left;
	float: left;
}
.tile:nth-child(2n + 1) {
	clear: right;
	float: right;
}
.tile h2 {
	padding: 0.3em 0;
}

#mainNav .arrow-down {
	position: relative;
	top: 0.8em;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.large {
	font-size: 2em;
}
p.large {
	margin: 0;
}

.spacer {
	margin: 0 60px 0 0;
}
.margin-top {
	margin-top: 12px;
}
.button, input[type="submit"].login {
	position: relative;
	width: 100px;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: 500;
	font-size: 1.3em;
	background: #02acf8;
	border: 1px solid #02acf8;
	border-radius: 3px;
	cursor: pointer;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
}
input[type="submit"].login {
	height: 35px;
	margin-top: 10px;
}
.big {
	width: 150px;
}
a.button {
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover, input[type="submit"].login:hover {
	color: #02acf8;
	background: #fff;
	border-color: #51a7f9;
}
input[type="submit"].login:active {
	top: 1px;
}
.disabled {
	top: 0 !important;
	color: #aaa !important;
	background: #ddd !important;
	border-color: #ccc !important;
	text-shadow: 1px 1px 0 #fff;
	cursor: not-allowed;
}

.padtop {
	padding: 1.5em 0 0;
}
.padbottom {
	padding-bottom: 1em;
}
.doublepadtop {
	padding-top: 4em;
}
.full-size-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: table;
	margin: 0 auto;
}
.login-box {
	width: 33%;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.login-box form {
	max-width: 320px;
	display: block;
	margin: 0 auto
}
.login-box img {
	display: block;
	max-width: 320px;
	margin: 0 auto 25px auto;
}
	label {
	font-weight: 500;
	margin-bottom: 6px;
	text-align: center;
	font-size: 16px;
	color: #8d96a3;
    text-transform: uppercase;
}
.p-btn {
	border-radius: 5px;
	color: #fff;
	width: 100%;
	font-weight: 500;
	padding: 12px 0;
	text-transform: uppercase;
}
.p-btn.p-btn-grey {
	background-color: #a2adbd;
}
.p-btn.p-btn-dark-grey {
	background-color: #4d5059;
}
.p-btn.p-btn-blue {
	background-color: #66c3f0;
}

input[type="text"], input[type="password"], input[type="email"], select {
	width: 100%;
	border: 0;
	outline: 0;
	border-radius: 5px;
	box-shadow: 0 0;
	line-height: 19px;
}
select {
	margin: 0 0 1rem 0;
	background-color: #8D96A3;
	color: #fff;
}
label.select:hover select {
	background-color: #a2adbd;
	cursor: pointer;
	position: relative;
}

label.select {
	position:relative;
	margin:0;
}
label.select:after {
    content:'';
    color:#fff;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
    position:absolute;
    pointer-events:none;
    right: 10px;
    top:18px;
    margin-top: -2px;
    z-index: 2;
}
label.select:hover:before {
	background-color: #a2adbd;
}
label.select:before {
	content: '';
	right: 0;
	top: 0px;
	width: 40px;
	height: 37px;
	background: #8D96A3;
	position: absolute;
	pointer-events: none;
	display: block;
	z-index: 1;
	border-radius: 3px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
	border: 1px solid #66c3f0;
	outline: 0;
	box-shadow: 0 0;
}
label.radio-label {
	font-weight: 300;
	text-transform: none;
}
label.error {
    width: 100%;
    font-size: 12px;
    text-align: center;
}
input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label, input[type="radio"] + label {
    margin:-2px 2px 15px 15px;
}
input[type="radio"] + label span {
	display:inline-block;
    width:6px;
    height:6px;
    border-radius: 50%;
    background-color: #fff;

    border: 6px solid #fff;
    box-sizing: content-box;
    vertical-align: middle;
}
input[type="radio"]:checked + label span {
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	background-color: #66c3f0;
	border: 6px solid #fff;
}
input[type="checkbox"]:first-of-type + label, input[type="radio"]:first-of-type + label {
	 margin:-2px 2px 15px 0;
}

/* LINES 510-517 */

/* TESTING */
.dijitDialog {
     background: white;
     padding: 15px;
     border-radius: 10px;
     box-shadow: 0 3px rgba(0,0,0,0.1);

}
.dijitDialogCloseIcon {
     float: right;
     outline-style: none;
     color: #bbb;
}
/*.dijitDialogCloseIcon:before {
	font-family: "foundation-icons";
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
display: inline-block;
text-decoration: inherit;
content: "\f216";
text-indent: 0px;
}*/

.dijitDialogUnderlay {
     position: fixed;
     left: 0;
     top: 0;
     background-color: rgba(0,0,0,0.5);
}

/* DIALOG */
table.dialog {
     border: 0;
     padding: .5em 0 2em 0;
     text-align: center;
}

table.dialog td {
    padding: 0 1em;
}

table.dialog td.creation-time {
    width: 10em;
}

#status, #backup, #manage {
    clear: both;
}

#status td {
     padding: 0 5px 0 5px;
}

#status .running {
     font-weight: 500;
     color: green;
}

#status .orange {
     font-weight: 500;
     color: orange;
}

#status .stopped {
     font-weight: 500;
     color: red;
}

#status p {
     padding: 1em 0 2em 0;
     text-align: center;
}

body {
	background: #ececec;
}
p {
	color: #3b3b3b;
}
nav.top-bar {
	background: #27292D;
	box-shadow: 0 6px #8D96A3;
}
ul.title-area > li > h1 > a {
	color: #fff;
	font-weight: 100;
}
.dashboard {
	margin-top: 15px;
}
.dashboard .title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	color: #fff;
	background-color: #8D96A3;
	display: block;
	line-height: 45px;
	font-size: 24px;
	text-align: left;
	padding-left: 15px;
}
.dashboard .title > span {
	overflow: hidden;
	text-overflow: ellipsis;
	width: 75%;
	white-space: nowrap;
	position: relative;
	display: block;
	margin: 0 auto;
}
.dashboard section.tile-module {
	background: #fff;
	border-radius: 10px;
	padding: 60px 15px 15px 15px;
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	min-height: 340px;
	display: table;
	width: 100%;
}
.dashboard section.tile-module li {
	padding: 0;
}
.dashboard section.tile-module .panel-body {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

section.tile-module ul {
	padding: 0 25%;
}

p.tile-advanced span.fi-list {
	position: absolute;
	font-size: 24px;
	text-align: center;
	color: #fff;
	width: 48px;
	height:45px;
	line-height:45px;
	top: 0;
	right: 0;
}
p.tile-advanced span.fi-list:hover {
	background-color: rgba(250,250,250,0.1);
}
p.tile-advanced span.fi-list:active {
	box-shadow:0 3px rgba(0,0,0,0.1) inset, 0 0 0 9000px rgba(0,0,0,0.1) inset;
}

a.tile-button {
	display: inline-block;
	background-color: #8D96A3;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #fff;
	width: 100px;
	height: 100px;
	position: relative;
	-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-ms-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}
a.tile-button:hover {
	box-shadow: 0 0 0 9000px rgba(250,250,250,0.2) inset;
}
a.tile-button.disabled:hover {
	box-shadow: 0 0;
}
a.tile-button span {
	font-size: 3em;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
	height: 50px;
	width: 50px;
	display: block;
	color: #fff;
}
a.tile-button span:before {
	position: absolute;
	top: 0;
	width: 50px;
	margin: 0 auto;
	display: block;
}
a.tile-button p {
	position: absolute;
	bottom: -30px;
	font-size: 16px;
	width:100%;
	margin: 0 auto;
	font-weight: 500;
	color: #8D96A3;
}
a.tile-button.disabled span {
	color: #bbb;
}

section.tile-module ul.small-block-grid-1 {
		padding: 0 38%;
	}

	section.tile-module.vertical-centered {
		display: table;
	}

	section.tile-module.vertical-centered ul {
		display: table-cell;
		vertical-align: middle;
	}



	#mainNav ul.nav img {
		max-height: 32px;
		position: absolute;
		top: 14px;
		right: 5px;
		margin: 0 5px 0 0;
		height: 32px;
		border-radius: 50%;
	}


	#mainNav ul.nav #profile-link a {
		height: 60px;
		position: relative;
		width: 10em;
	}

	#mainNav ul.nav h4 {
		font-size: 12px;
		color: #fff;
		line-height: 12px;
		text-align: right;
		position: absolute;
		top: 12px;
		right:50px;
		box-sizing: content-box;
		text-transform: none;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		width: 100px;
	}

	#mainNav ul.nav h5 {
		font-size: 11px;
		color: #ccc;
		line-height: 11px;
		text-align: right;
		position: absolute;
		bottom: 9px;
		right: 50px;
		box-sizing: content-box;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;
		width: 100px;
	}

	#mainNav ul.nav {
		top: 0;
		float: right;
		position: relative;
	}

	#mainNav ul.nav.menu {
		float: right;
	}

	#mainNav ul.nav li {
	font-size: 1em;
	font-weight: 400;
	text-indent: 0;
	display: inline-block;
	line-height: 60px;
	position: relative;
	}


	#mainNav ul.nav li a {
		color: #8D96A3;
		text-decoration: none;
		display: block;
		padding: 0 15px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
	}
	#mainNav ul.nav li a:hover {
		background-color: rgba(250,250,250,0.1) !important;
	}
	
	
	#mainNav ul.nav.menu.visible {
		display: block;
	}
	#mainNav ul.nav li.more ul > li {
		background-color: #ddd;
		box-shadow: 0 -1px rgba(0,0,0,0.1) inset;
	}

	#mainNav ul.nav li.more ul {
		display: none;
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 2;
		width: 380px;
		box-shadow: 0 3px rgba(0,0,0,0.1);
		border:1px solid #bbb;
		border-width: 0 1px 1px 1px;
		margin: 0;
	}
	#mainNav ul.nav li.more ul.visible li {
	  	display: block;
	  	background-color: #fff;
	  	box-shadow: 0 -1px rgba(0,0,0,0.1) inset;
	  	width: 100%;
	  	position: relative;
	  	-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.2s ease-out;
-ms-transition: all 0.2s ease-out;
-o-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
font-weight: 500;
	  }
	  #mainNav ul.nav li.more ul li:last-of-type {
	    box-shadow: 0 1px #ccc;
	  }
	  #mainNav ul.nav li.more ul li.active {
	  	background-color: #8D96A3;
	  }
	  #mainNav ul.nav li.more ul li.active .arrow-down {
	  	border-top: 5px solid #fff;
	  }
	  #mainNav ul.nav li.more ul li.active a {
		color: #fff;
	}
	#mainNav ul.nav li.more ul li.active a span {
		color: #fff;
	}
	#toggle-main-menu {
		display: none;
	}
	#mainNav ul.nav li.more ul li {
		display: block;
	}
	#mainNav ul.nav li.more ul.visible {
		display: block;
	}

	.backup-status p, .backup-status h3 {
		display: inline-block;
	}
	.backup-status h3 {
		font-weight: 500;
		margin:0 0 0 10px;
		line-height: 1.6;
		color: #333;
		font-size: 1rem;
		display: inline-block;
	}
	.backup-status p {
		margin: 0;
		display: inline-block;
	}
	.backup-status section {
		display: inline-block;
	}

	.profile-settings-nav {
		font-size: 14px;
		color: #1890b4;
		position: relative;
		margin-top: 65px;
		float:left;
	}

	.profile-settings-content {
		margin-top: 65px;
		max-width: 550px;
	}
	.profile-settings-content label {
		text-align: left;
	}

	.profile-pic {
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin:0 auto 15px auto;
		display: block;
	}

	.tabs.profile-settings-nav dd {
		margin: 0 0 5px 0;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-ms-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
	.tabs.profile-settings-nav dd.active {
		box-shadow: 5px 0 #1890b4 inset;
	}
	.tabs.profile-settings-nav dd.active:hover {
		box-shadow: 5px 0 #1890b4 inset;
	}
	.tabs.profile-settings-nav dd:hover {
		box-shadow: 5px 0 #ccc inset;
	}
	.tabs.profile-settings-nav dd a {
		padding-left: 12px;
		display: block;
		width: 100%;
	}
	.tabs.profile-settings-nav dd.active a {
		padding-left: 12px;
	}

	.italic-label {
		font-style: italic;
		color: #8D96A3;
		font-size: 12px;
	}

	.user-list {
		padding:0;
		margin: 0;
	}
	.user-list li {
		height: 40px;
		position: relative;
		display: block;
		list-style-type: none;
		margin: 12px 0;
		padding: 0;
	}
	.user-list li img {
		max-width: 40px;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
	}
	.user-list li h4 {
		position: absolute;
		top: 2px;
		left: 50px;
		font-size:14px;
		color: #8D96A3;
		line-height: 14px;
	}
	.user-list li h5 {
		position: absolute;
		bottom: 3px;
		left: 50px;
		font-size: 12px;
		color: #8D96A3;
		line-height: 12px;
		margin: 0;
		font-weight: 300;
	}
	.user-list li:last-of-type h5 {
		bottom: 50%;
		margin-bottom: -6px;
	}
	.user-list li:last-of-type:hover {
		cursor: pointer;
	}
	.user-list li:last-of-type .add-user {
		background-color: #8D96A3;
		color: #fff;
		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
	}
	.user-list li:last-of-type .add-user span {
		position: absolute;
		top: 50%;
		margin-top: -12px;
		line-height: 24px;
		color: #fff;
		text-align: center;
		width: 100%;
	}
	.user-list li span {
		position: absolute;
		right: 0;
		line-height: 40px;
		color: #8D96A3;
		height: 40px;
		width: 40px;
		top: 0;
		text-align: center;
		margin: 0;
	}
	.user-list li .add-user:hover {
		opacity: 0.8;
	}
	.user-list li:last-of-type .add-user span:hover {
		opacity: 0.8;
	}
	.user-list li span:active {
		background-color: rgba(0,0,0,0.1);
		color: #fff;
	}
	.user-list li span:hover {
		cursor: pointer;
	}

/*TINY SCREENS */
@media screen and (max-width: 600px) {
	.full-size-box {
		display: block;
		padding: 15px;
	}
	.login-box {
		width: 100%;
		display: block;
	}
	.login-box img {
		max-width: 100%;
	}
	#mainNav ul.nav h5 {
		display: none;
	}
	#mainNav ul.nav h4 {
		display: none;
	}
	#mainNav ul.nav #profile-link a {
		width: 53px;
	}
	#mainNav ul.nav.nav-profile li ul {
		display: none !important;
	}
}
/*SMALL SCREENS */
@media screen and (max-width: 960px) {

	.small-only {
		display: block;
	}
	.dashboard .title {
		font-size: 18px;
	}

		.container {
		width: 100%;
	}

	.profile-settings-content {
		max-width: none;
		padding: 15px;
		margin-top: 24px;
	}
	.profile-settings-nav {
		padding: 15px;
		margin-top: 0;
		border-bottom: 1px solid #ddd;
	}
	.tabs.profile-settings-nav dd {
		padding: 10px 0;
		background-color: #fff;
	}

	.margin-top {
		margin-top: 24px;
	}

	section.tile-module ul {
		padding: 0 5%;
	}
	section.tile-module ul.small-block-grid-1 {
		padding: 0 28%;
	}

	.dashboard section.tile-module {
	padding: 50px 5px 5px 5px;
	}


  #mainNav ul.nav.menu {
  	z-index: 2;
  	top: 60px;
  	right: 0;
  	width: 100%;
  	display: none;
  	position: absolute;
  }

 	#mainNav ul.nav.nav-profile {
		top: 0;
		right: 48px;
		position: absolute;
	}

	#mainNav ul.nav.nav-profile li ul {
		display: none;
		width: 100%;
	}

  #mainNav ul.nav.menu li {
  	display: block;
  	background-color: #fff;
  	box-shadow: 0 -1px rgba(0,0,0,0.1) inset;
  	width: 100%;
  	position: relative;
  }
  #mainNav ul.nav.menu li:last-of-type {
    	box-shadow: 0 1px #ccc;
  }
  #mainNav ul.nav.menu li.active {
  	background-color: #8D96A3;
  }
  #mainNav ul.nav.menu li.active .arrow-down {
  	border-top: 5px solid #fff;
  }
  #mainNav ul.nav.menu li.active a {
	color: #fff;
	}
	#mainNav ul.nav.menu li.active a span {
		color: #fff;
	}
	#mainNav ul.nav.menu li a span:first-of-type {
		font-size: 24px;
		vertical-align: middle;
		margin-right: 10px;
	}
  #mainNav .container {
  	width: 100%;
  }
  #mainNav .arrow-down {
		position: relative;
		top: 0.8em;
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-top: 5px solid #8D96A3;
		right: 16px;
	}
	#mainNav ul.nav.menu li a:active {
		padding-left: 25px;
	}

	#toggle-main-menu {
	    color: #fff;
	    position: absolute;
	    top: 0;
	    right: 0px;
	    height: 60px;
	    line-height: 60px;
	    display: block;
	    width: 48px;
	    font-size: 24px;
	    text-align: center;
	    z-index: 30;
	}
	#toggle-main-menu.visible {
	    background-color: rgba(0,0,0,0.1);
	    box-shadow: 0 5px rgba(0,0,0,0.2) inset;
	    color: #fff;
	}
	#mainNav ul.nav.menu li.more ul.visible {
		width: 100%;
		position: relative;
		top: auto;
		right: auto;
		box-shadow: 0 0;
		border-width:0;
	}
	#mainNav ul.nav.menu li.more ul.visible > li {
		padding-left: 15px;
		background-color: #eee;
	}
	#mainNav ul.nav.menu li.more ul.visible > li:nth-child(1) {
		box-shadow:0 -1px rgba(0,0,0,0.1) inset, 0 3px rgba(0,0,0,0.1) inset;
	}
	.dashboard .title > span {
	    margin: 0;
	}
	.p-btn {
		padding: 20px 0;
	}
}
/*NOT LARGE SCREENS */
@media screen and (max-width: 1200px) { 
	a.tile-button {
		width: 80px;
		height: 80px;
	}
	.dashboard section.tile-module {
		min-height: 250px;
	}
	.green-light, .yellow-light, .orange-light, .red-light {
		width: 100px;
		height: 98px;
	}
	#status-message {
		font-size: 20px;
	}
}
/*BIGGER THAN SMALL SCREEN */
@media screen and (min-width: 960px) {
	.dashboard .title {
  	text-align: center;
  	margin:0;
  }
  	  #mainNav ul.nav li.more ul.visible li:hover {
	  	background-color: #f5f5f5;
	  	padding-left: 10px;
	  }
	  .small-only {
	  	display: none !important;
	  }
}

/*LARGE SCREENS */
@media screen and (min-width: 1201px) {
  	.container {
		width: 85%;
  	}
}