html {
    overflow: hidden;
}
html, body {
    min-width: 0 !important;
    font-family:'Roboto', sans-serif;
    font-weight: 300 !important;
    height: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto', sans-serif;
}
p {
    font-weight: 300 !important;
}
.row {
    max-width: none !important;
    height: 100%;
}
.wrapper {
    height: 100%;
}
.hidden {
    display: none;
}
#mainNav {
    background: #333;
    position: fixed;
    height: 67px;
    border-bottom: 7px solid #8D96A3;
    display: block;
    width: 100%;
    top: 0;
    z-index: 100;
}
.container {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    margin: 0;
    height: 100%;
    padding: 0;
}
.secondary-side-bar {
    height: 100%;
    display: block;
    position: fixed;
    top: 67px;
    left: 250px;
    width: 300px;
    background-color: #555A60;
    color: #fff;
    z-index: 20;
    color:#fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    overflow-y:scroll;
    padding-bottom: 64px;
}
.secondary-side-bar h5 {
    width: 100%;
    padding: 0 0 0 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    margin: 25px 0 8px 0;
    font-size: 16px;
}
.secondary-side-bar ul.server-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.secondary-side-bar ul.server-list li {
    padding: 0;
}
.secondary-side-bar ul.server-list li a {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    padding: 12px 0;
    color: #fff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
.secondary-side-bar ul.server-list li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}
.secondary-side-bar ul.server-list li img {
    max-width: 40px;
    margin-left: 25px;
}
.secondary-side-bar ul.server-list li h5 {
    position: absolute;
    left: 80px;
    top: 10px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    width: 70%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.secondary-side-bar ul.server-list li p {
    position: absolute;
    left: 80px;
    bottom: 7px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: #8e96a3;
    vertical-align: bottom;
    width: 65%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.secondary-side-bar ul.actions li.active a {
    background-color:rgba(0,0,0,0.1);
    box-shadow:0 -2px rgba(0,0,0,0.1);
}
.secondary-side-bar ul.actions li.active a:after {
    content:"";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #ececec transparent transparent;
    display: block;
}
.secondary-side-bar.collapsed .actions li.active a {
    background-color: #ececec;
}
.main-side-bar {
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    width: 250px;
    top: 67px;
    background-color: #697078;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    overflow-y:scroll;
    padding-bottom: 64px;
}
.main-side-bar::-webkit-scrollbar, .secondary-side-bar::-webkit-scrollbar {
    width: 0 !important;
}
.main-side-bar .status {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    height: 75px;
}
.main-side-bar .status img {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 50%;
    margin-top: -21px;
    right: 15px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.main-side-bar .status h2 {
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    font-weight: 300;
}
.main-side-bar .status h2 span {
    display: block;
    color: #75e25a;
    font-size: 24px;
    font-weight: 400;
}
.main-side-bar.collapsed {
    width: 64px;
}
.main-side-bar.collapsed + .secondary-side-bar {
    left: 64px;
}
.main-side-bar.collapsed + .secondary-side-bar + .dynamic-content {
    left: 384px;
}
.main-side-bar.collapsed img {
    width: 32px;
    height: 32px;
    right: 16px;
    top: 37px;
}
.main-side-bar.collapsed .status {
    height: 64px;
}
.main-side-bar.collapsed h2 {
    display: none;
}
.main-side-bar.collapsed .actions li a span {
    display: none;
}
.main-side-bar.collapsed .actions li a i {
    display: block;
}
.main-side-bar.collapsed #toggle-side-menu:before {
    content:"\f061";
}

.main-side-bar ul.actions li.active a {
    background-color:rgba(0,0,0,0.1);
    box-shadow:0 -2px rgba(0,0,0,0.1);
}
.main-side-bar ul.actions li.active a:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #555A60 transparent transparent;
    display: block;
}
.main-side-bar.collapsed .actions li.active a {
  background-color: #ececec;
}

#toggle-side-menu {
    color: #8e96a3;
    font-size: 32px;
    bottom: 67px;
    right: 0;
    height: 64px;
    width: 64px;
    line-height: 64px;
    text-align: center;
    float: right;
    position: absolute;
}
#toggle-side-menu:hover {
    background-color: rgba(250, 250, 250, 0.1);
    cursor: pointer;
}
#toggle-side-menu:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px rgba(0, 0, 0, 0.1) inset;
}
.main-side-bar ul.actions {
    margin: 0;
    padding:0;
    list-style-type: none;
}
.main-side-bar ul.actions li i {
    color: #8e96a3;
    font-size: 32px;
    line-height: 55px;
    margin: 0 7px 0 10px;
    vertical-align: middle;
}
.main-side-bar ul.actions li a {
    line-height: 55px;
    width: 100%;
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    position: relative;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.main-side-bar ul.actions li a:hover {
    text-decoration: none;
    background-color: rgba(50, 50, 50, 0.1);
}
.main-side-bar ul.actions li a:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1);
}
.main-side-bar ul.actions li.divider {
    height: 2px;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.secondary-side-bar .header {
    position: relative;
    top: 0;
    width: 100%;
    display: block;
    height: 75px;

}

.secondary-side-bar ul.actions {
    margin: 0;
    padding:0;
    list-style-type: none;
}
.secondary-side-bar ul.actions li i {
    color: #8e96a3;
    font-size: 32px;
    line-height: 55px;
    margin: 0 7px 0 10px;
    vertical-align: middle;
}
.secondary-side-bar ul.actions li a {
    line-height: 55px;
    width: 100%;
    display: block;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    vertical-align: top;
    position: relative;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.secondary-side-bar ul.actions li a:hover {
    text-decoration: none;
    background-color: rgba(50, 50, 50, 0.1);
}
.secondary-side-bar ul.actions li a:active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1);
}
.secondary-side-bar ul.actions li.divider {
    height: 2px;
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.dynamic-content {
    position: absolute;
    height: 100%;
    left: 550px;
    right: 0;
    top: 67px;
    padding: 25px 25px 0 25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.dynamic-content .top-zone {
    width: 100%;
    height: 75px;
    position: relative;
}
.dynamic-content .top-zone a.alert {
    font-size: 16px;
    margin: 0 0 0 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    bottom: 0;
    padding: 0;
}
.dynamic-content .top-zone a.alert:hover {
    text-decoration: none;
}
.dynamic-content .top-zone a.alert:hover span {
    box-shadow: 0 0 0 9001px rgba(250, 250, 250, 0.2) inset;
}
.dynamic-content .top-zone a.alert span {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 500;
    background-color: #ccc;
    color: #fff;
    border-radius: 50%;
}
.dynamic-content .top-zone a.alert.warnings {
    color: #DC994C;
}
.dynamic-content .top-zone a.alert.errors {
    color: #EF5455;
}
.dynamic-content .top-zone a.alert.warnings span {
    background-color: #DC994C;
}
.dynamic-content .top-zone a.alert.errors span {
    background-color: #EF5455;
}
.dynamic-content .bottom-zone {
    overflow-y:scroll;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.dynamic-content .top-zone label.select {
    float: left;
    display: inline-block;
    margin:0 0 25px 8px;
    padding-right: 14px;
}
.dynamic-content .top-zone label.select:first-of-type {
    margin-left: 0;
}
h1.page-title {
    font-size: 42px;
    display: inline-block;
    font-weight: 300;
    line-height: 32px;
    margin: 25px 0 0 0;
    color: #697078;
    vertical-align: bottom;
}
#mainNav a.site-id {
    background-image: url('/app/module/palette/images/palette_logo_600dpi-2.png');
    background-size: 100%;
    background-position: 50%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 60px;
    width: 149px;
    box-sizing: content-box;
    background-repeat: no-repeat;
    margin-left: 15px;
}
nav img.site-id {
    color: #111111;
    margin-top: -5px;
    margin-right: 5px;
}
#mainNav .arrow-down {
    left: 7px;
    border-top: 7px solid #fff;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-small {
    font-size: 11px;
    font-weight: 500;
}
.green-light, .yellow-light, .orange-light, .red-light {
    width: 130px;
    height: 128px;
    margin: 10px auto;
    background: url(/app/module/palette/images/status-green-light.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.yellow-light {
    background: url(/app/module/palette/images/status-yellow-light.png);
    background-size: 100%;
}
.orange-light {
    background: url(/app/module/palette/images/status-orange-light.png);
    background-size: 100%;
}
.red-light {
    background: url(/app/module/palette/images/status-red-light.png);
    background-size: 100%;
}
.large {
    font-size: 2em;
}
p.large {
    margin: 0;
}
.spacer {
    margin: 0 60px 0 0;
}
.margin-top {
    margin-top: 12px !important;
}
.button, input[type="submit"].login {
    position: relative;
    width: 100px;
    padding: 0.5em 1em;
    color: #fff;
    font-weight: 500;
    font-size: 1.3em;
    background: #02acf8;
    border: 1px solid #02acf8;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
}
input[type="submit"].login {
    height: 35px;
    margin-top: 10px;
}
.big {
    width: 150px;
}
a.button {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover, input[type="submit"].login:hover {
    color: #02acf8;
    background: #fff;
    border-color: #51a7f9;
}
input[type="submit"].login:active {
    top: 1px;
}
.disabled {
    top: 0 !important;
    color: #aaa !important;
    background: #ddd !important;
    border-color: #ccc !important;
    text-shadow: 1px 1px 0 #fff;
    cursor: not-allowed;
}
.padtop {
    padding: 1.5em 0 0;
}
.padbottom {
    padding-bottom: 1em;
}
.doublepadtop {
    padding-top: 4em;
}
.full-size-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: table;
    margin: 0 auto;
}
.login-box {
    width: 33%;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.login-box form {
    max-width: 320px;
    display: block;
    margin: 0 auto
}
.login-box img {
    display: block;
    max-width: 320px;
    margin: 0 auto 25px auto;
}
label {
    font-weight: 500;
    margin: 25px 0 8px 0;
    text-align: center;
    font-size: 16px;
    color: #8d96a3;
    text-transform: uppercase;
    display: block;
}
label:first-of-type {
    margin: 0 0 4px 0;
}
.p-btn {
    border-radius: 5px;
    color: #fff;
    width: 100%;
    font-weight: 500;
    padding: 12px 0;
    text-transform: uppercase;
    outline: 0;
    border: 0;
}
.p-btn.p-btn-grey {
    background-color: #a2adbd;
}
.p-btn.p-btn-dark-grey {
    background-color: #4d5059;
}
.p-btn.p-btn-blue {
    background-color: #66c3f0;
}
input[type="text"], input[type="password"], input[type="email"] {
    margin: 5px 0 15px 0;
}
input[type="text"], input[type="password"], input[type="email"], select {
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 0;
    height: 24px;
    padding: 0 8px;
    box-sizing:border-box;
    font-size: 14px;
}
select {
    -webkit-border-top-left-radius: 19px;
    -webkit-border-bottom-left-radius: 19px;
    -moz-border-radius-topleft: 19px;
    -moz-border-radius-bottomleft: 19px;
    border-top-left-radius: 19px;
    background-color: #8D96A3;
    color: #fff;
}
.config-content select {  
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    height: 34px;
    padding: 5px 8px;
    font-size: 16px;
}
label.select:hover select {
    background-color: #a2adbd;
    cursor: pointer;
    position: relative;
}
label.select {
    position:relative;
    margin:8px 0;
    overflow: hidden;
}
label.select:after {
    content:'';
    width: 0;
    height: 5px;
    margin-top: -2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #697078;
    position: absolute;
    pointer-events: none;
    right: 10px;
    top: 50%;
    z-index: 2;
}
label.select:hover:before {
    background-color: #a2adbd;
}
label.select:before {
    content:'';
    right: 0;
    top: 0;
    width: 28px;
    height: 100%;
    background: #8D96A3;
    position: absolute;
    pointer-events: none;
    display: block;
    z-index: 1;
    -webkit-border-top-right-radius: 19px;
    -webkit-border-bottom-right-radius: 19px;
    -moz-border-radius-topright: 19px;
    -moz-border-radius-bottomright: 19px;
    border-top-right-radius: 19px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {
    border: 1px solid #66c3f0;
    outline: 0;
    box-shadow: 0 0;
}
label.radio-label {
    font-weight: 300;
    text-transform: none;
    display: inline-block;
    margin: 4px 15px 0 0;
}
label.error {
    width: 100%;
    font-size: 12px;
    text-align: center;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:6px;
    height:6px;
    border-radius: 50%;
    background-color: #fff;
    border: 6px solid #fff;
    box-sizing: content-box;
    vertical-align: middle;
}
input[type="radio"]:checked + label span {
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: #66c3f0;
    border: 6px solid #fff;
}
#status p {
    padding: 1em 0 2em 0;
    text-align: center;
}
body {
    background: #ececec;
}
p {
    color: #3b3b3b;
}
ul.title-area > li > h1 > a {
    color: #fff;
    font-weight: 100;
}
#mainNav ul.nav img {
    max-height: 32px;
    position: absolute;
    top: 14px;
    right: 5px;
    margin: 0 5px 0 0;
    height: 32px;
    border-radius: 50%;
}
#mainNav ul.nav h4 {
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    text-align: right;
    position: absolute;
    top: 5px;
    right:50px;
    box-sizing: content-box;
    text-transform: none;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 100px;
}
#mainNav ul.nav h5 {
    font-size: 11px;
    color: #ccc;
    line-height: 11px;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 50px;
    box-sizing: content-box;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 100px;
}
#mainNav ul.nav {
    float: right;
}
#mainNav ul.nav li {
    text-indent: 0;
    display: inline-block;
    position: relative;
    height: 60px;
}
#mainNav ul.nav li > i {
    font-size: 24px;
}
#mainNav ul.nav li > a {
    color: #8D96A3;
    text-decoration: none;
    line-height: 60px;
    font-weight: 400;
    display: inline-block;
    width: auto;
    height: 100%;
    padding: 0 15px;
    line-height: 60px;
    font-size: 16px;
    vertical-align: middle;
}
#mainNav ul.nav li > a:hover {
    background-color: rgba(250, 250, 250, 0.1) !important;
}
#mainNav ul.nav li > a span {
    color: #fff;
    margin-left: 5px;
}
#mainNav ul.nav li > a i {
    font-size: 28px;
    vertical-align: middle;
}
#mainNav ul.nav li > ul {
    position: absolute;
    border-top: 7px solid #8D96A3;
    top: 60px;
    width: 320px;
    right: 0;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    box-shadow: 0 4px rgba(70,70,70,0.1);
    z-index: 9001;
}

#mainNav ul.nav li > ul.visible {
    display: block;
}
#mainNav ul.nav li > ul > li {
    display: block;
    height: 45px;
    padding: 0;
    position: relative;
}
#mainNav ul.nav li > ul li a {
    background-color: #fff;
    line-height: 45px;
    padding: 0 0 0 10px;
    color: #5f6670;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 14px;
}
#mainNav ul.nav li > ul li a i {
    color:#8e96a3;
    font-size: 20px;
    padding-right: 3px;
    line-height: 45px;
}
#mainNav ul.nav li > ul li a:hover {
    text-decoration: none;
    color: #53c3f1;
    background-color:#f5f5f5;
}
.config-content label {
    text-align: left;
}
.italic-label {
    font-style: italic;
    color: #8D96A3;
    font-size: 12px;
}
.user-list {
    padding:0;
    margin: 0;
}
.user-list li {
    height: 40px;
    position: relative;
    display: block;
    list-style-type: none;
    margin: 12px 0;
    padding: 0;
}
.user-list li img {
    max-width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.user-list li h4 {
    position: absolute;
    top: 4px;
    left: 50px;
    font-size:14px;
    color: #8D96A3;
    line-height: 14px;
    margin: 0;
}
.user-list li h5 {
    position: absolute;
    bottom: 4px;
    left: 50px;
    font-size: 12px;
    color: #8D96A3;
    line-height: 12px;
    margin: 0;
    font-weight: 300;
    margin: 0;
}
.user-list li:last-of-type h5 {
    bottom: 50%;
    margin-bottom: -6px;
}
.user-list li:last-of-type:hover {
    cursor: pointer;
}
.user-list li:last-of-type .add-user {
    background-color: #8D96A3;
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.user-list li:last-of-type .add-user span {
    position: absolute;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    width: 100%;
    width: 40px;
    top: 0;
    left: 0;
}
.user-list li span {
    position: absolute;
    right: 0;
    line-height: 40px;
    color: #8D96A3;
    height: 40px;
    width: 40px;
    top: 0;
    text-align: center;
    margin: 0;
}
.user-list li .add-user:hover {
    opacity: 0.8;
}
.user-list li:last-of-type .add-user span:hover {
    opacity: 0.8;
}
.user-list li span:active {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}
.user-list li span:hover {
    cursor: pointer;
}
article.activity {
    background-color: #e1e1e1;
    border-radius: 5px;
    display: block;
    width: 100%;
    position: relative;
    min-height: 55px;
    color: #5f6670;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
article.activity:hover {
    background-color: #d5d5d5;
    cursor: pointer;
}
article.activity i {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 36px;
    opacity: 0.8;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
article.activity:hover i {
    opacity: 1;
}
article.activity i.blue {
    color:#53c3f1;
}
article.activity i.red {
    color: #ef5557;
}
article.activity i.green {
    color: #76e259;
}
article.activity h3 {
    font-weight: 400;
    font-size: 14px;
    position: absolute;
    left: 60px;
    top: 8px;
    margin: 0;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
article.activity p {
    font-size: 14px;
    margin: 0;
    position: absolute;
    left: 60px;
    bottom: 8px;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.mobile-title {
    display:none;
}
#mainNav .container > i {
    display:none;
}
.Psmall-only {
    display: none !important;
}

/*TINY SCREENS */
 @media screen and (max-width: 600px) {
    .full-size-box {
        display: block;
        padding: 15px;
        box-sizing: border-box;
    }
    .login-box {
        width: 100%;
        display: block;
    }
    .login-box img {
        max-width: 100%;
    }
}
/*SMALL SCREENS */
 @media screen and (max-width: 960px) {
    #toggle-events {
        position: absolute;
        font-size: 12px;
        top: 0;
        right: 0;
        z-index: 20;
        display: block;
        padding: 0 10px;
        height: 48px;
        text-align: center;
        line-height: 48px;
        color: #8e96a3;
    }
    #toggle-events:hover, #toggle-events:active {
        text-decoration: none;
        background-color: rgba(250, 250, 250, 0.1);
        color: #fff;
    }
    #toggle-events i {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 10px;
        color: #fff;
        text-align: center;
        line-height: 48px;
    }
    .secondary-side-bar.closed #toggle-events {
        padding: 0 0;
        width: 48px;
    }
    .secondary-side-bar.closed #toggle-events span {
        display: none;
    }
    .secondary-side-bar.closed #toggle-events i {
        margin: 0;
    }
    .secondary-side-bar.closed #toggle-events i:before {
        content:"\f060";
    }
    .main-side-bar.open.collapsed + .secondary-side-bar #toggle-events {
        right: 22px;
    }
    #mainNav ul.nav li, .nav>li {
        position: static;
    }
    #mainNav ul.nav li > ul {
        width: 100%;
    }
    #mainNav ul.nav li > a span {
        display: none;
    }
    .Psmall-only {
        display: inline-block !important;
    }

    #mainNav ul.nav li > a span {
        display: none;
    }
    .Psmall-only {
        display: inline-block !important;
    }
    .profile-settings-nav > div {
        position: relative;
    }
    #toggle-side-menu {
        position: static;
        margin-top: 35px;
    }

    #mainNav .container > i {
        display: inline-block;
        position: absolute;
        color: #fff;
        font-size: 18px;
        line-height: 60px;
        width: 36px;
        text-align: center;
    }

    #mainNav .container > i:active {
        background-color:rgba(250,250,250,0.1);
    }

    #mainNav .container > i.open {
        background-color: rgba(0,0,0,0.2);
        box-shadow: 0 5px rgba(0,0,0,0.2) inset;
    }

    .mobile-title {
        color: #8D96A3;
        line-height: 60px;
        font-size: 16px;
        margin: 0;
        position: absolute;
        left: 77px;
        display: block;
        font-weight: 300;
    }

    .mobile-title:before {
        content:"Palette: ";
        color:#fff;
        font-size:16px;
    }

    #mainNav a.site-id {
        background-image: url('/app/module/palette/images/favicon-152.png');
        position: absolute;
        left: 25px;
        top: 0;
        display: block;
        height: 60px;
        width: 149px;
        background-size: 25px;
        box-sizing: content-box;
        background-repeat: no-repeat;
        margin-left: 20px;
        background-position:0;
    }

    article.activity h3 {
        font-size: 12px;
        top: 11px;
    }

    article.activity p {
        font-size: 12px;
        bottom: 11px;
    }

    .main-side-bar {
        left: -90%;
        width: 90%;
    }

    .main-side-bar.open {
        left: 0;
    }

    .dynamic-content {
        left: auto;
        padding: 25px 7px 120px 7px;
        width: 90%;
        right: -90%;
    }

    .secondary-side-bar {
        width: 100%;
        left: 0;
    }
    .secondary-side-bar.config {
        width: 30%;
        left: 0;
    }
    .secondary-side-bar.config ul.actions li i {
        font-size: 18px;
    }
    .secondary-side-bar.config ul.actions li a {
        font-size: 12px;
    }
    .secondary-side-bar.config + .dynamic-content {
        left: 30%;
        width: 70%;
    }
    .secondary-side-bar.config + .dynamic-content .top-zone {
        display: none;
    }
    .secondary-side-bar.closed {
        left: -90%;
    }
    .secondary-side-bar.closed + .dynamic-content {
        right: 0;
    }
    .main-side-bar.open + .secondary-side-bar {
        left: 90%;
    }
    .main-side-bar.open.collapsed + .secondary-side-bar {
        left: 64px;
        width: 90%;
    }
    .main-side-bar.open + .secondary-side-bar + .dynamic-content {
        left: 90%;
    }
    .main-side-bar.collapsed + .secondary-side-bar {
        left:0;
    }
    .main-side-bar.open.collapsed + .secondary-side-bar + .dynamic-content {
        left: 67px;
    }
    .main-side-bar.open.collapsed {
        left: 0;
        width: 64px;
    }

    .dynamic-content .top-zone {
        height: 27px;
        margin-bottom: 0;
    }

    .dynamic-content .top-zone > section {
        right: auto;
        left: 0;
    }

    .dynamic-content .top-zone label.select {
        float: left;
        margin: 0 5px 0 0;
    }

    h1.page-title {
        display: none;
    }

    body:after {
        height: 141px;
        box-shadow: 0 -50px 40px #ececec inset;
    }

    .small-only {
        display: block;
    }
    .dashboard .title {
        font-size: 18px;
    }
    .config-content {
        max-width: none;
        padding: 15px;
    }
    .profile-settings-nav {
        padding: 15px;
        margin-top: 0;
        border-bottom: 1px solid #ddd;
        width: 100%;
    }
    .tabs.profile-settings-nav dd {
        padding: 10px 0;
        background-color: #fff;
    }
    .margin-top {
        margin-top: 24px;
    }
    #mainNav ul.nav.nav-profile {
        top: 0;
        right: 48px;
        position: absolute;
    }
    #mainNav ul.nav.nav-profile li ul {
        display: none;
        width: 100%;
    }
    .p-btn {
        padding: 20px 0;
    }
}
/*NOT LARGE SCREENS */
 @media screen and (max-width: 1200px) {
    .green-light, .yellow-light, .orange-light, .red-light {
        width: 100px;
        height: 98px;
    }
    #status-message {
        font-size: 20px;
    }
}
/*BIGGER THAN SMALL SCREEN */
 @media screen and (min-width: 960px) {
    .dashboard .title {
        text-align: center;
        margin:0;
    }
    .small-only {
        display: none !important;
    }
}
/*LARGE SCREENS */
 @media screen and (min-width: 1201px) {
    .profile-settings-nav > div {
        position: fixed;
    }
}
