Source: controller
Section: utils
Priority: optional
Maintainer: Palette Software
Build-Depends: debhelper (>= 9), python (>= 2.7), python-setuptools
Standards-Version: 3.9.3.1
X-Python-Version: >= 2.7

Package: controller
Architecture: all
Depends:
 ${python:Depends}, ${misc:Depends},
 python-docutils, python-sphinx, postgresql,
 python-sqlalchemy, python-psycopg2, python-boto, python-dateutil,
 telnet, daemon, postfix,
 akiri.framework (>= 0.3),
 python-apscheduler
Description: Palette Controller and Web App
 This package contains the Palette Controller and Web Application
 for controlling, monitoring and managing Tableau databases.
Homepage: http://www.palette-software.com
