Source: controller
Section: utils
Priority: optional
Maintainer: Palette Software
Build-Depends: debhelper (>= 9), python (>= 2.7), python-setuptools
Standards-Version: 3.9.3.1
X-Python-Version: >= 2.7

Package: controller
Architecture: all
Depends:
 python (>= 2.7), ${misc:Depends},
 python-docutils, python-sphinx, python-crypto,
 python-sqlalchemy, python-psycopg2, python-boto, python-dateutil,
 postgresql, telnet, daemon, postfix, ntp,
 akiri.framework (>= 0.4.8),
 palette-agent (>= 1.1.0),
 palette-support (>= 1.1.0)
Description: Palette Controller and Web App
 This package contains the Palette Controller and Web Application
 for controlling, monitoring and managing Tableau databases.
Homepage: http://www.palette-software.com
