include usr/bin/*
include usr/sbin/*
include etc/*
include etc/ssl/certs/*
include etc/init.d/*
include etc/postfix/*
include etc/cron.d/*
include controller/*
include var/palette/sched/*
include usr/share/palette/conf/*
